.marquee-container {
    width: 100%; /* Adjust as per your requirement */
    overflow: hidden;
    white-space: nowrap;
  }
  
  .marquee {
    display: inline-block;
    animation: marquee 60s linear infinite;
  }
  
  @keyframes marquee {
    0% {
      transform: translateX(50%);
    }
    100% {
      transform: translateX(-100%);
    }
  }
  